/*h1{
    background-color:hotpink ;
}
h2{
    background-color:darkblue;
}
two{
    background-color: aqua;
}
/*start with "http"*/
/*a[href^="http:"]{
    background-color: blue;
}
/*end with com*/
/*a[href$='com']{
    background-color: aqua;
}
/*leter with */
/*a[href*='facebook']{
    background-color: brown;
}
div p{
    background-color: brown;
}
ol > li{
    border: 2px solid gold;
}*/
div{
    background-color: brown;
    height: 150px;
    width: 150px;
    transition:2s;
}
div:hover{
    background-color: brown;
    border-radius: 50%;
}
li:first-child{
    background-color:red ;
}